.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px; ;
    padding: 20px;
  }
  body {
    background-color: #d2eede;
    }

    table td,
#customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: rgb(245, 240, 240);
}

table tr:nth-child(odd) {
	background-color: rgb(245, 240, 240);
}

table tr:hover {
	background-color: rgb(199, 199, 228);
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}

table {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

table {
	width: 70%;
}