<body>
  <h1 style="color: rgb(190, 174, 153); text-align: center;">Update Flight</h1><br>
  <div class="form-center">

    <form [formGroup]="adminlog" #myForm="ngForm" (ngSubmit)="validate()">
      <div class="form-group">
        <label>Flightid</label>
        <input type="text" class="form-control" placeholder="Enter Flightid" formControlName="flightId">
      </div>
      <div class="form-group">
        <label>Flightname</label>
        <input type="text" class="form-control" placeholder="Enter FlightName" formControlName="flightName">
        <div *ngIf="adminlog.controls['flightName'].touched && adminlog.controls['flightName'].errors"
          class="text-danger">
          Please Enter Flight Name
        </div>
      </div>
      <div class="form-group">
        <label>FromLocation</label>
        <input type="text" class="form-control" placeholder="Enter Source" formControlName="from">
        <div *ngIf="adminlog.controls['from'].touched && adminlog.controls['from'].errors" class="text-danger">
          Please Enter Source
        </div>
      </div>
      <div class="form-group">
        <label>ToLocation</label>
        <input type="text" class="form-control" placeholder="Enter Destination" formControlName="to">
        <div *ngIf="adminlog.controls['to'].touched && adminlog.controls['to'].errors" class="text-danger">
          Please Enter Destination
        </div>
      </div>
      <div class="form-group">
        <label>Fare</label>
        <input type="number" class="form-control" placeholder="Enter Price" formControlName="fare">
        <div *ngIf="adminlog.controls['fare'].touched && adminlog.controls['fare'].errors" class="text-danger">
          Please Enter Fare
        </div>
      </div>
      <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" placeholder="Enter Date" formControlName="date">
        <div *ngIf="adminlog.controls['date'].touched && adminlog.controls['date'].errors" class="text-danger">
          Please Enter Date
        </div>
      </div>

      <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-primary">Update</button>
    </form>
  </div>
</body>