
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, #customers th {
    border: 1px solid rgb(236, 204, 204);
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color:rgb(139, 131, 131);}
  
  table tr:hover {background-color:rgb(199, 199, 228);}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: rgb(233, 221, 221);
  }
  table { width:70%; margin-left:15%; margin-right:15%; }
  
    table {
      width: 70%;
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    body {
      background-color: #490c4e00;
      }
      h1 {
        text-align: center;
        text-transform: uppercase;
        color: #202c20;
       
        text-decoration: underline;
      }