<mat-toolbar color='primary'>

  <a mat-raised-button style="color: white;" routerLink="About">About</a>&nbsp;
  <div class="gap"></div>
  <span>Flight Booking Application</span>
  <div class="spacer"></div>
  <a mat-raised-button style="color: white;" routerLink="checkin">CheckIn</a>&nbsp;&nbsp;&nbsp;&nbsp;

  <a mat-raised-button style="color: white;" routerLink="admin">Admin</a>&nbsp;&nbsp;&nbsp;&nbsp;

  <!--<mat-form-field color="accent" >
      <mat-label color="accent">Users</mat-label>
      <mat-select disableRipple>
        <mat-option routerLink="user" value="1">New User</mat-option>
        <mat-option routerLink="existing" value="2">Existing User</mat-option>
      </mat-select>
    </mat-form-field>-->

  <a mat-raised-button style="color: white;" routerLink="user">New User</a>&nbsp;&nbsp;&nbsp;&nbsp;

  <a mat-raised-button style="color: white;" routerLink="existing">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;

</mat-toolbar>




<body>